* {
  transition: .3s ease;
  display: flexbox;
}

.cursor-pointer {
  cursor: pointer;
}

.header-background {
  background-image: linear-gradient(to right, #426980, #bad6ff);
}

.logo {
  width: 8vw;
  max-width: 80px;
  min-width: 50px;
}

.text-big {
  font-size: 3vw !important;
}

.text-small {
  font-size: 23px !important;
}
@media screen and (max-width: 600px) {
  .text-small{
    font-size: 18px !important;
  }
}

.bg-light-custom {
  background-color: #efefef;
}