* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s ease;
    display: flexbox;
}

body {
    min-height: 100vh;
    background-color: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}