.text-decoration-none{
    color: black;
    text-decoration: none;
}

.zoom-hover{
    transition: .2s ease;
}

.zoom-hover:hover{
    transform: scale(1.06);
}

.navbar-brand{
    transition: .2s ease;
}

.navbar-brand:hover{
    opacity: .7;
}